body {
    font-family: Arial;
}

h1, h2, h3 {
    text-align: center;
}
.column {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: nowrap;
}
.column1 {
    flex: 50%;
}
.column2 {
    flex: 50%;
}
.bars{
    fill: #4682b4;
}

.tooltip {
    position: absolute;
    background-color: grey;
    border:  solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}
circle {
    fill: yellow;
}
.selected {
    stroke: orange;
    stroke-width: 4;
}